html, body {
	font-family: 'Passion One', cursive;
	-webkit-font-smoothing: antialiased;
	font-weight: 200;
	font-size: 10px;
	background: #333333;
}

header {
	background: black;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 50px;
	line-height: 50px;
	padding-left: 25px;
	padding-top: 2px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
}

header img {
	margin-bottom: 4px;
	margin-left: 5px;
	margin-right: 10px;
}

canvas {
	border: 1px solid black;
	margin-left: 25px;
	margin-top: 25px;
}









.mood-good {
	color: green;
}

.mood-bad {
	color: tomato;
}

.mood-bold {
	font-weight: bold;
}

.actionLog {
	max-height: 60px;
	height: 60px;
	overflow-y: scroll;
}

.actionQueue {
	max-height: 60px;
	height: 60px;
	overflow-y: scroll;
}

.elementsInRange {
	max-height: 60px;
	height: 60px;
	overflow-y: scroll;
}

.collidingWith {
	max-height: 60px;
	height: 60px;
	overflow-y: scroll;
}