html, body {
	font-weight: 200;
	font-size: 10px;
}
.mood-good {
	color: green;
}

.full {
	width: 100% !important;
	max-width: 100% !important;
}

.mood-bad {
	color: tomato;
}

.mood-bold {
	font-weight: bold;
}

#canvas {
	
}

.actionLog {
	max-height: 60px;
	height: 60px;
	overflow-y: scroll;
}

.actionQueue {
	max-height: 60px;
	height: 60px;
	overflow-y: scroll;
}

.elementsInRange {
	max-height: 60px;
	height: 60px;
	overflow-y: scroll;
}

.collidingWith {
	max-height: 60px;
	height: 60px;
	overflow-y: scroll;
}